/*
 * MicroSys MPXLS1088 device tree source
 *
 * Copyright 2017 NXP
 * Copyright (C) 2018-2021 MicroSys Electronics GmbH
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */

/dts-v1/;

#include "fsl-ls1088a.dtsi"

/ {
	model = "MicroSys MPXLS1088";
	compatible = "fsl,ls1088a-rdb", "fsl,ls1088a";
	aliases {
		spi0 = &qspi;
		nand0 = &nand0;
	};
};

&ifc {
	#address-cells = <2>;
	#size-cells = <1>;
	status = "okay";

	nand0: nand@0,0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "fsl,ifc-nand";
		reg = <0x0 0x0 0x10000>;
		partition@0 {
			reg = <0x0 0x20000000>;
			label = "nand0";
		};
	};

};

&qspi {
	bus-num = <0>;
	status = "okay";

	qflash0: s25fs512s@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <50000000>;	
		reg = <0>;
	};
};

&nand0 {
		partition@0 {
			reg = <0x0 0x20000000>;
			label = "rootfs";
		};
};

&qflash0 {
		partition@0 {
			reg = <0x0 0x2000>;
			label = "rcw";
		};
		partition@1 {
			reg = <0x2000 0x2000>;
			label = "env";
		};
		partition@2 {
			reg = <0x4000 0x2000>;
			label = "dpc";
		};
		partition@3 {
			reg = <0x6000 0x2000>;
			label = "dpl";
		};
		partition@4 {
			reg = <0x100000 0x100000>;
			label = "u-boot";
		};
		partition@5 {
			reg = <0x300000 0x200000>;
			label = "mc";
		};
		partition@6 {
			reg = <0x500000 0xb00000>;
			label = "kernel";
		};
};
&i2c0 {
    status = "okay";
    u-boot,dm-pre-reloc;

    tmp451: temp@4c {
        compatible = "ti,tmp451";
        reg = <0x4c>;
        u-boot,i2c-offset-len = <1>; /* one address byte */
    };

    rx8581: rtc@32 {
		compatible = "epson,rx8581";
		reg = <0x32>;
        u-boot,i2c-offset-len = <1>; /* one address byte */
    };

    at24c128: eeprom@54 {
        compatible = "atmel,24c128";
        reg = <0x50>;
        u-boot,i2c-offset-len = <2>; /* two address bytes */
        write-page-size = <64>;
        page-write-delay = <5000>; /* 5ms delay when writing */
        max-speed = <400000>;
    };

   eeprom@57 {
	compatible = "at24,24c128";
	reg = <0x57>;
       	u-boot,i2c-offset-len = <2>; /* two address bytes */
       	write-page-size = <64>;
       	page-write-delay = <5000>; /* 5ms delay when writing */
        max-speed = <400000>;
};
};

&i2c1 {
	status = "okay";
};
