CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS="PPC_T1042,RAMBOOT_PBL,SPL_FSL_PBL,SDCARD,MPXT1042,SYS_FSL_DDR4,DDR_4GB"
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
CONFIG_PPC=y
CONFIG_MPC85xx=y
CONFIG_TARGET_MPXT1040=y
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_OF_BOARD_SETUP=y
CONFIG_OF_STDOUT_VIA_ALIAS=y
CONFIG_BOOTDELAY=10
CONFIG_HUSH_PARSER=y
CONFIG_OF_LIBFDT=y
